<!doctype html>
<html lang="en">
	{% load static %}
	<head>

		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Saúde com Tecnologia - II CONGRESSO NORTE MINEIRO DE ENFERMAGEM & IV SEMANA DE TECNOLOGIA DA INFORMAÇÃO</title>

		<meta name="description" content="Saúde com Tecnologia - II CONGRESSO NORTE MINEIRO DE ENFERMAGEM & IV SEMANA DE TECNOLOGIA DA INFORMAÇÃO">
		<meta name="keywords" content="congresso, saúde, tecnologia, TI, sistemas de informação, faculdades santo agostinho">
		<meta name="author" content="Livelabs Soluções">

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

		<!--[if lt IE 9]>
			<script src="../assets/js/html5shiv.js"></script>
			<script src="../assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

	<section class="section align-center">
		<div class="container">
			<h5 class="heading-alt">404: Página não encontrada</h5>
			<p class="text-alt" style="margin-bottom: 0px;"><a href="{% url 'home' %}">Voltar</a></p>
		</div>
	</section>


	<!--[if lt IE 9]>
		<script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js?ver=1"></script>
	<![endif]-->
	<!--[if (gte IE 9) | (!IE)]><!-->
		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js?ver=1' %}"></script>
	<!--<![endif]-->

	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
