<!doctype html>
<html lang="en">
	{% load static %}
	<head>

		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>Saúde com Tecnologia - II CONGRESSO NORTE MINEIRO DE ENFERMAGEM & IV SEMANA DE TECNOLOGIA DA INFORMAÇÃO</title>

		<meta name="description" content="Saúde com Tecnologia - II CONGRESSO NORTE MINEIRO DE ENFERMAGEM & IV SEMANA DE TECNOLOGIA DA INFORMAÇÃO">
		<meta name="keywords" content="congresso, saúde, tecnologia, TI, sistemas de informação, faculdades santo agostinho">
		<meta name="author" content="Livelabs Soluções">

		<link rel="stylesheet" type="text/css" href="{% static 'css/custom-animations.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

		<link rel="stylesheet" type="text/css" href="{% static 'vendor/icheck-1.x/skins/minimal/minimal.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/multiselect/css/multi-select.css' %}"/>

		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<section id="hero" class="hero-section bg6 bg-cover window-height light-text">
			
		</section>

		<div class="modal fade" id="vencedores" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Saiu!</h4>
					</div>
					<div class="modal-body">
						<p><b>Confira no botão abaixo a lista dos trabalhos premiados.</b></p>
						<p><b>Obrigado a todos que participaram e fizeram do nosso evento um <span class="text-info">SUCESSO</span> absoluto.</b></p>
						<p><b>Fique ligado que ano que vem tem mais e acontecerá no primeiro semestre!</b></p>
					</div>
					<div class="modal-footer">
						<a href="http://saudecomti.santoagostinho.edu.br/media/trabalhos_premiados.pdf" class="btn btn-default" >Ver trabalhos</a>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<!--[if lt IE 9]>
			<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js?ver=1"></script' %}>
		<![endif]-->
		<!--[if (gte IE 9) | (!IE)]><!-->
			<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		<!--<![endif]-->

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9KczyaFNrNEulPkNS9kLkFcNUkr3feHY"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script> -->
		<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.plugin.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/modal-box.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ventcamp.js' %}"></script>

		<script type="text/javascript" src="{% static 'vendor/icheck-1.x/icheck.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/jquery.mask/jquery.mask.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/multiselect/js/jquery.multi-select.js' %}"></script>

		<script>
			$(document).ready(function(){

				$('#vencedores').modal();
			});
		</script>
	</body>
	</html>
